.warning-wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.warning-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: red;
    width: 280px;
    height: 150px;
    border-radius: 10px;
    top:-20px ;
}
.warning-conteiner p{
    font-size: 17px;
}
.warning-conteiner div {
    display: flex;
    flex-direction: row;
}
.warning-conteiner div button{
    width: 125px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: gold;
}
.warning-conteiner div button:hover{
    background-color: tomato;
    color: white;
}